    /* Set additional styling options for the columns*/
    .column {
        float: left;
    }

    .left {
        width: 49%;
    }

    .right {
        width: 49%;
    }

    .mid {
        width: 2%;
    }


    h1 {
        text-align: center;
    }

    .col_img {
        float: right;
        width: 450px;
    }

    .bold {
        font-weight: bold
    }

    
